
.input-container {
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input-1 {
    border: 0;
    border-bottom: 1px solid #979797;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px 10px 48px;
}

.input::placeholder {
    color: #979797;
    font-size: 14px;
}

.right-icons {
    position: absolute;
    right: 0px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.right-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    cursor: pointer;
}

.error {
    border-bottom: 1px solid #FF4040;
}

.typing {
    border-bottom: 1px solid #0094FF;
}

.error-msg {
    font-size: 10px;
    color: #FF4040;
}