
.slider-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 1400px;
}

.slider-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.slider-title {
    font-size: 36px;
    font-weight: 700;
}

.move-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.move-button {
    width: 30px;
    height: 30px;
    border: 1px solid #CCC;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
}

.main-slider {
    display: flex;
    gap: 16px;
    width: 1400px;
}