.slider-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  gap: 14px;
}

.slider-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.slider-title {
  font-size: 36px;
  font-weight: 700;
}

.move-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.move-button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

.move-button:active {
  background-color: #f5f5f5;
}

.main-slider {
  width: 100%;
  height: 185px;
  overflow: hidden;
  position: relative;
}

.slider {
  height: 100%;
  display: flex;
  gap: 16px;
  transition: left 0.3s linear;
  position: relative;
}

.card {
  min-width: 285px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  cursor: pointer;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 24px;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.member-name {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.playlist-name {
  max-width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: white;
  text-overflow: ellipsis;
}

.blur-left {
  z-index: 2;
  position: absolute;
  left: 0;
  height: 100%;
  width: 76px;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 1),
    rgb(255, 255, 255, 0)
  );
}

.blur-right {
  z-index: 2;
  position: absolute;
  right: 0;
  height: 100%;
  width: 76px;
  background-image: linear-gradient(
    -90deg,
    rgb(255, 255, 255, 1),
    rgb(255, 255, 255, 0)
  );
}

.views {
  background: #0f0f0f;
  border-radius: 16px;
  display: flex;
  gap: 4px;
  padding: 4px 8px;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
}

.img {
  object-fit: cover;
}

