.upload-avt {
    display: flex;
    gap: 12px;
    align-items: center;
}

.upload-button-container {
    height: 45px;
    min-width: 140px;
    border: 1px solid #979797;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.button-upload-avt {
    display: flex;
    gap: 12px;
    padding: 0px 12px;
    align-items: center;
    cursor: pointer;
    min-width: fit-content;
    height: 100%;
}

.button-upload-avt > span {
    display: inline-block;
    white-space: nowrap;
}

.file-name-label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}